.cluster-bubble {
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background: rgba(180, 0, 180, 0.8);
}
