@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";

html,
body {
  font-family: "Poppins", sans-serif !important;
}

.cluster-bubble {
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background: rgba(180, 0, 180, 0.8);
  animation: pulse 0.6s ease-out;
}

@keyframes scaleIn {
  from {
    transform: scale(0.4);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
